---
<strong>
    <h1 align='center'><strong>List comprehension</strong></h1>
</strong>

---

## **Syntax**

```python
new_list = [expression for item in iterable]

```

In [4]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

```python
new_list = [expression for item in iterable if condition]
```

In [ ]:
even_squares = [x**2 for x in range(1, 11) if x%2 == 0]
print(even_squares)

[4, 16, 36, 64, 100]

## **Cartesian Product**

In [20]:
colors = ['red', 'blue', 'green']
sizes = ['small', 'medium', 'large']

combinations = []  # Initialize an empty list
# Using nested for loops
for color in colors:
    for size in sizes:
        combinations.append((color, size))

# Equivalent list comprehension to generate combinations
combinations_comprehension = [(color, size) for color in colors for size in sizes]

print(combinations)
print(combinations_comprehension)

[('red', 'small'), ('red', 'medium'), ('red', 'large'), ('blue', 'small'), ('blue', 'medium'), ('blue', 'large'), ('green', 'small'), ('green', 'medium'), ('green', 'large')]
[('red', 'small'), ('red', 'medium'), ('red', 'large'), ('blue', 'small'), ('blue', 'medium'), ('blue', 'large'), ('green', 'small'), ('green', 'medium'), ('green', 'large')]

## **Flattening a 2D List**

In [21]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Using nested for loops
flattened = []
for row in matrix:
    for element in row:
        flattened.append(element)

# Using a list comprehension
flattened_comprehension = [element for row in matrix for element in row]

print(flattened)
print(flattened_comprehension)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

## **Filtering and Transformation**

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_squares = [x**3 for x in numbers if x%3 == 0]
print(even_squares)

[27, 216, 729]

## **List of Prime Numbers**

In [39]:
from math import sqrt

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [x for x in range(2, 100) if is_prime(x)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## **Finding Common Elements**

In [37]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# using nested loops
comm_list = []
for x in list1:
    if x in list2:
        comm_list.append(x)
print(comm_list)

# Using a list comprehension
common_elements = [x for x in list1 if x in list2]
print(common_elements)

[3, 4, 5]
[3, 4, 5]

## **Transposing a Matrix**

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## **Filtering Palindromic Words**

In [ ]:
words = ["level", "hello", "world", "deified", "python"]

palindromic_words = [word for word in words if word == word[::-1]]
print(palindromic_words)

['level', 'deified']

## **List of Pythagorean Triples**

In [ ]:
n = 10  # Maximum value for a, b, c

pythagorean_triples = [(a, b, c) for a in range(1, n) for b in range(a, n) for c in range(b, n) if a**2 + b**2 == c**2]
print(pythagorean_triples)

[(3, 4, 5)]