---
<strong>
    <h1 align='center'><strong>List comprehension</strong></h1>
</strong>

---

```python
new_list = [expression for item in iterable]

```

In [1]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

```python
new_list = [expression for item in iterable if condition]
```

In [2]:
even_squares = [x**2 for x in range(1, 11) if x % 2 == 0]
print(even_squares)

[4, 16, 36, 64, 100]

**Cartesian Product**

In [3]:
colors = ['red', 'blue', 'green']
sizes = ['small', 'medium', 'large']

combinations = [(color, size) for color in colors for size in sizes]
print(combinations)

[('red', 'small'), ('red', 'medium'), ('red', 'large'), ('blue', 'small'), ('blue', 'medium'), ('blue', 'large'), ('green', 'small'), ('green', 'medium'), ('green', 'large')]

**Flattening a 2D List**

In [4]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flattened = [element for row in matrix for element in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Filtering and Transformation**

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_squares = [x**2 for x in numbers if x % 2 == 0]
print(even_squares)

[4, 16, 36, 64, 100]

**List of Prime Numbers**

In [6]:
from math import sqrt

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [x for x in range(2, 100) if is_prime(x)][:20]

**Finding Common Elements**

In [7]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = [x for x in list1 if x in list2]
print(common_elements)

[3, 4, 5]

**Transposing a Matrix**

In [8]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

**Filtering Palindromic Words**

In [9]:
words = ["level", "hello", "world", "deified", "python"]

palindromic_words = [word for word in words if word == word[::-1]]
print(palindromic_words)

['level', 'deified']

**List of Pythagorean Triples**

In [10]:
n = 10  # Maximum value for a, b, c

pythagorean_triples = [(a, b, c) for a in range(1, n) for b in range(a, n) for c in range(b, n) if a**2 + b**2 == c**2]
print(pythagorean_triples)

[(3, 4, 5)]