<center>
        <a href="https://colab.research.google.com/drive/12B1VK-QLECECe-GpIhRRXFbqoSLxXGj5#scrollTo=xEUsse99e8Tj" target="_parent">
        <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
        </a>
</center>

# <center><b>üêçControl Flow - Python Statementüêç</b></center>

# **`if` `elif` & `else`**

```python
if test expression:
    statement(s)
```

In [1]:
hungry = True 

if hungry:
    print('Feed Me!')
else:
    print('I m not hungry')

Feed Me!

In [2]:
loc = 'Auto shop'

if loc == 'Auto shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Monry is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know the much')

Cars are cool!

In [3]:
# If the number is positive, we print an appropriate message
num = 3
if num > 0:
    print(num, "is a positive number.")

print("This is always printed.")       # as its outside the loop

num = -1
if num > 0:
    print(num, "is a positive number.")

print("This is also always printed.")  # as its outside the loop

3 is a positive number.
This is always printed.
This is also always printed.

Complex Examples

In [4]:
import math

def get_roots(a, b, c):
  # Calculate the discriminant
  discriminant = b**2 - 4*a*c
  
  # Check the value of the discriminant
  if discriminant > 0:
    # Calculate the two roots
    root1 = (-b + math.sqrt(discriminant)) / (2*a)
    root2 = (-b - math.sqrt(discriminant)) / (2*a)
    return (root1, root2)
  elif discriminant == 0:
    # Calculate the single root
    root = -b / (2*a)
    return (root,)
  else:
    # The discriminant is negative, so there are no real roots
    return None

# Test the function
roots = get_roots(1, 2, 1)

if roots is not None:
  if len(roots) == 1:
    print(f"The root is {roots[0]}")
  else:
    print(f"The roots are {roots[0]} and {roots[1]}")
else:
  print("There are no real roots")

The root is -1.0

In [5]:
def classify_triangle(a, b, c):
  # Check if the sides form a valid triangle
  if a + b > c and a + c > b and b + c > a:
    # Check the type of triangle
    if a == b and b == c:
      return "equilateral"
    elif a == b or a == c or b == c:
      return "isosceles"
    else:
      return "scalene"
  else:
    return "not a triangle"

# Test the function
print(classify_triangle(3, 3, 3))  # Output: "equilateral"
print(classify_triangle(3, 3, 4))  # Output: "isosceles"
print(classify_triangle(3, 4, 5))  # Output: "scalene"
print(classify_triangle(1, 1, 3))  # Output: "not a triangle"

equilateral
isosceles
scalene
not a triangle

In [6]:
def get_discount(price, age):
  if age < 18:
    discount = 0.1
  elif age < 65:
    discount = 0.3
  else:
    discount = 0.5
  return price * (1 - discount)

# Test the function
print(get_discount(100, 17))  # Output: 90.0
print(get_discount(100, 35))  # Output: 70.0
print(get_discount(100, 65))  # Output: 50.0
print(get_discount(100, 85))  # Output: 50.0

90.0
70.0
50.0
50.0

# **`for` Loop**

In [7]:
# Iterating through the list
mylist = [1, 2, 3, 4, 5]

for num in mylist:
    print(num, end='  ')

1  2  3  4  5

In [8]:
mylist = [1, 2, 3, 4, 5]

for num in mylist:
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [9]:
# Printing odd and even number of a list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(f'even Number: {num}')
    else:
        print(f'odd Number:  {num}')

odd Number:  1
even Number: 2
odd Number:  3
even Number: 4
odd Number:  5
even Number: 6
odd Number:  7
even Number: 8
odd Number:  9
even Number: 10

In [10]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_sum = 0   

for num in my_list:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

- [How to remove last comma from `print(string, end=‚Äú, ‚Äù)`](https://newdevzone.com/posts/how-to-remove-last-comma-from-printstring-end)

- [Why the we initlized the `sum=0`](https://stackoverflow.com/questions/56191112/i-dont-understand-the-why-is-sum-0)

In [11]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    print(list_sum, end = ', ')

print("\b\b ") # This removes the last comma.
               # \b is considered as an escape sequence in python
               # It's is a Non-Graphic character used to replicate backspace

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 

**Iterating through string**

In [12]:
mystring = 'APPLE'
for letter in mystring:
     print(letter, end =' ')

A P P L E

In [13]:
for _ in 'ICE':
    print('Cool!')

Cool!
Cool!
Cool!

**Iteration through Tuple**

In [14]:
tup = (1, 2, 3)
for item in tup:
    print(item)

1
2
3

**Tuple Un-packing**

In [15]:
mylist_1 = [(1,2), (3,4), (5,6), (7,8)]

for (a,b) in mylist_1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [16]:
my_list_1 = [(1,2,3), (4,5,6), (7,8,9)]

for (a,b,c) in my_list_1:
    print(a, c)

1 3
4 6
7 9

**Iteration through a dictionary**

$\color{red}{\textbf{Note}}$ By default we iterate through Keys

In [17]:
dict_1 = {'k1': 1, 'k2': 2, 'k3': 3}

for i in dict_1.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

`keys`

In [18]:
dict_1 = {'k1': 1, 'k2': 2, 'k3': 3}

for (keys, values) in dict_1.items():
    print(keys)

k1
k2
k3

In [19]:
dict_1 = {'k1': 1, 'k2': 2, 'k3': 3}

for (keys, values) in dict_1.items():
    print(values)

1
2
3

In [20]:
numbers = [1 + 2j, 3 + 4j, 5 + 6j]

for number in numbers:
    print("Real part:", number.real)
    print("Imaginary part:", number.imag)

Real part: 1.0
Imaginary part: 2.0
Real part: 3.0
Imaginary part: 4.0
Real part: 5.0
Imaginary part: 6.0

In [21]:
# A list of dictionaries representing a collection of books
books = [
    {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925},
    {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960},
    {'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'year': 1951},
    {'title': 'The Lord of the Rings', 'author': 'J.R.R. Tolkien', 'year': 1954}
]

# Iterate through the list of books
for book in books:
    # Check if the book was published before 1950
    if book['year'] < 1950:
        # Print the title and author of the book
        print(f"{book['title']} by {book['author']}")
    else:
        # Print a message for books published in or after 1950
        print(f"{book['title']} is a modern classic")

The Great Gatsby by F. Scott Fitzgerald
To Kill a Mockingbird is a modern classic
The Catcher in the Rye is a modern classic
The Lord of the Rings is a modern classic

# **`while` loop**


Three important things while using `while` loop -:


1.   Initialization `i=0` or `i=1`
2.   condition e.g. `while i<=5:`
3.   Increment/Decrement `i+=1` or `i-=1`

In [22]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    x=x+1
else:
    print('x is Not less then 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is Not less then 5

In [23]:
n = 1

while n < 5:
    print("Hello Pythonista")
    n=n+1

Hello Pythonista
Hello Pythonista
Hello Pythonista
Hello Pythonista

In [24]:
# Adding element to the list using while loop
myList = []
i = 0

while len(myList) < 4 :
    myList.append(i)
    i += 1
  
print(myList)

[0, 1, 2, 3]

In [25]:
# Finding the sum of numbers in a list using while loop
myList = [23,45,12,10,25]
i = 0 
sum = 0

while i < len(myList):
    sum += myList[i]
    i += 1

print(sum)

115

In [26]:
# Popping out elements from a list using while loop
fruitsList = ["Mango","Apple","Orange","Guava"]

while fruitsList:
    print(fruitsList.pop())

print(fruitsList)

Guava
Orange
Apple
Mango
[]

In [27]:
# Printing all letters except some using Python while loop
i = 0 
word = "Hello"

#print all letters except `e` and `o`

while i < len(word):
    if word[i] == "e" or word[i] =="o":
        i += 1
        continue

    print("Returned letter",word[i])
    i += 1

Returned letter H
Returned letter l
Returned letter l

In [28]:
# A variable to keep track of the number of iterations
counter = 0

# The maximum number of iterations
max_iterations = 5

# The while loop that will iterate as long as the counter is less than the maximum number of iterations
while counter < max_iterations:
    # Print the current iteration number
    print("Iteration", counter + 1)
    # Increment the counter by 1
    counter += 1

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5

In [29]:
# A variable to store user input
user_input = ""

# The while loop that will continue until the user enters "exit"
while user_input != "exit":
    # Get user input
    user_input = input("Enter a command (or 'exit' to quit): ")
    # Print the user input
    print("You entered:", user_input)

Enter a command (or 'exit' to quit): stop
You entered: stop
Enter a command (or 'exit' to quit): exit
You entered: exit

# **`break, continue, pass`**

**`break`**

In [30]:
x = 0

while x < 5:
    if x == 3:
        break
    print(x)
    x += 1

0
1
2

In [31]:
my_list = [1, 2, 3, 4, 5]

for num in my_list:
    if num == 2:
        continue
    elif num == 4:
        break
    print(num)

1
3

In [32]:
n = 1

while n < 5:
    print("Hello Pythonista")
    n+=1
    if n == 3:
        break

Hello Pythonista
Hello Pythonista

__`continue`__

In [33]:
mystring = 'faizy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

f
i
z
y

In [34]:
n = 1

while n < 5:
    if n == 2:
        n+=1
        continue
    print("Hello Pythonista")
    n+=1

Hello Pythonista
Hello Pythonista
Hello Pythonista

`pass` - *Do nothing at all*


>Programer sometimes keep it as a `placeholder` to avoide errors to fill it later when working on the larger codes.

In [35]:
x = [1,2,3]
 
for items in x:
    pass

In [36]:
# A list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Iterate through the list of numbers
for number in numbers:
    # Check if the number is even
    if number % 2 == 0:
        # If the number is even, print it
        print(number)
        continue
    # Check if the number is greater than 8
    elif number > 8:
        # If the number is greater than 8, exit the loop
        print("Exiting the loop")
        break
    # If the number is odd and not greater than 8, do nothing
    else:
        pass

2
4
6
8
Exiting the loop

# **Useful Operators in Python**

**`range`** **operater**

In [37]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

**Genrating the `list` of number**

In [38]:
list(range(0, 20, 3))

[0, 3, 6, 9, 12, 15, 18]

`Enumertate`

In [39]:
my_string = 'abcde'
index_count = 0

for letter in my_string:
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [40]:
word = 'APPLE'
index_counts = 0

for letter in word:
    print(word[index_counts])
    index_counts += 1

A
P
P
L
E

`enumerate` function is an **index counter** and a **function** itself.

In [41]:
word = 'abcde'
for items in enumerate(word):
    print(items)             # Return the tuples

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [42]:
word = 'abcde'
for (index, letter) in enumerate(word):
    print(index, letter)

0 a
1 b
2 c
3 d
4 e

**Zip function** - zips the two list together

In [43]:
mylist1 = [1, 2, 3, 4]       
mylist2 = ['a', 'b', 'c']

for items in zip(mylist1, mylist2):
    print(items) # ignore everything that is extra & zip the shortest

(1, 'a')
(2, 'b')
(3, 'c')

In [44]:
# To check wether the object is presrnt in the list/dict

# list
'a' in ['a', 'b', 'c']

# dict
'k1' in {"k1":11, 'k2':22, 'k3':33}

True

In [45]:
d = {"k1":11, 'k2':22, 'k3':33}
11 in d.values()

True

In [46]:
list_x = [10, 20, 30, 40, 50, 100, 101]
print(min(list_x))
print(max(list_x))

10
101

__`Random`__ library

In [47]:
import random

mylist_x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(mylist_x)
print(mylist_x)

[4, 6, 2, 7, 5, 10, 9, 3, 8, 1]

In [48]:
import random

mynum = random.randint(0,100)
print(mynum)

86

In [49]:
# input function 
result = input('Favorite Number:')
type(result)
print(int(result))

Favorite Number:7
7

[**Python Random Data Genration Exercise**](https://pynative.com/python-random-number-generation-exercise-questions-and-challenge/)

# **List Comprehensions**

In [50]:
# Appending the item to the list
  
mystring = 'Hello'
mylist = []

for letter in mystring:
    mylist.append(letter)
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [51]:
# List Comprehensions -- flatning the for loop 
string_n ='APPLE'
mylist_n = [letter for letter in string_n]
print(mylist_n)

['A', 'P', 'P', 'L', 'E']

In [52]:
list_n = [x for x in 'word']
print(list_n)

['w', 'o', 'r', 'd']

In [53]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
# printing the even number in the flaten for loop

mylist = [x**2 for x in range(0,11) if x%2 == 0]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [55]:
# fahrenheit to celcius
celcius = [0, 10, 20, 34.5, 100]
fahrenheit = [((9/5)*temp +32) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1, 212.0]

In [56]:
celcius = [0, 10, 20, 34.5, 100]
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp +32)
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1, 212.0]

In [57]:
mylist = []

for x in [1, 2, 3]:
    for y in [2, 3, 4]:
        mylist.append(x**y) # x to the power y
print(mylist)

[1, 1, 1, 4, 8, 16, 9, 27, 81]

<p align='center'>
  <a href="#"><img src='https://tymsai.netlify.app/resource/1.gif' height='10' width=100% alt="div"></a>
</p>

# $\color{skyblue}{\textbf{Connect with me:}}$


[<img align="left" src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" width="32px"/>][twitter]
[<img align="left" src="https://cdn-icons-png.flaticon.com/512/145/145807.png" width="32px"/>][linkedin]
[<img align="left" src="https://d31pjuirwqbaad.cloudfront.net/wp-content/uploads/2019/08/kissclipart-website-icon-png-clipart-computer-icons-ac62ecb3b8ae4d41.png?x61175" width="32px"/>][Portfolio]

[twitter]: https://twitter.com/F4izy
[linkedin]: https://www.linkedin.com/in/mohd-faizy/
[Portfolio]: https://mohdfaizy.com/

---