---
<strong>
    <h1 align='center'><strong>Practice-Sheet-2024</strong></h1>
</strong>

---

In [ ]:
pip -q install pyttsx3

**Text to Speech**

In [ ]:
import pyttsx3

engine = pyttsx3.init()
engine.say("I love Python")
engine.runAndWait()

In [ ]:
import os

# Select the directory whose content you want to list
directory_path = '/content/sample_data'

# Use the os module to list the directory content
contents = os.listdir(directory_path)

# Print the contents of the directory
print(contents)

['README.md', 'anscombe.json', 'mnist_train_small.csv', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_test.csv']

## **Loops**

**1. Write a program to print multiplication table of a given number using for loop.**

In [ ]:
n = int(input("Enter the Number: "))

for i in range(1, 11):
    print(f"{n} X {i} = {i*n}")

Enter a Number: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

**2. Write a program to greet all the person names stored in a list `l` and which starts with `S`.**

- `l = ["Harry", "Soham", "Sachin", "Rahul"]`

In [ ]:
l = ["Harry", "Soham", "Sachin", "Rahul"]

for name in l:
    if (name.startswith("S")):
        print(f"Hello {name}")

Hello Soham
Hello Sachin

**3. Write a program to print multiplication table of a given number using while loop.**

In [ ]:
n = int(input("Enter the Number: "))

i=1

while i<11:
    print(f"{n} X {i} = {n*i}")
    i += 1

Enter a Number: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

**4. Write a program to find whether a given number is prime or not.**

In [ ]:
n = int(input("Enter the Number: "))

for i in range(2, n):
    if (n%i) == 0:
        print("number is not prime")
        break
else:
    print("number is prime")

Enter a Number: 11
number is prime

**5. Write a program to find the sum of first n natural numbers using while loop.**

In [ ]:
n = int(input("Enter the Number: "))

i = 1
sum = 0 #Note: for addition, we initialize the sum with zero.

while(i<=n):
    sum += i
    i += 1

print(sum)

Enter the Number: 4
10

**Arithmetic mean**

In [ ]:
n = int(input("Enter the Number: "))

i = 1
sum = 0 # Note: for addition, we initialize the sum with zero.

while(i <= n):
    sum += i
    i += 1

arithmetic_mean = sum / n
print(f"Arithmetic Mean is {sum}/{n} =", arithmetic_mean)

Enter the Number: 5
Arithmetic Mean is 15/5 = 3.0

**6. Write a program to calculate the factorial of a given number using for loop.**

In [ ]:
# 5! = 1 X 2 X 3 X 4 X 5

n = int(input("Enter the Number: "))

product = 1 # Note: for product, we initialize the sum with one.

for i in range(1, n+1):
    product = product * i

print(product)

Enter the Number: 6
720

**8. Write a program to print the following star pattern.**

- for `n = 5`

```
    *      space=4, star=1
   ***     space=3, star=3
  *****    space=2, star=5
 *******   space=1, star=7
*********  space=0, star=9
```

In [ ]:
n = int(input("Enter the Number: "))

for i in range(1, n+1):
    print(" "*(n-i), end="")    # space
    print("*"*(2*i-1), end="")  # star ~ odd number
    print("")

Enter the Number: 5
    *
   ***
  *****
 *******
*********

**8. Write a program to print the following star pattern.**

- for `n = 5`

```
*          space=0, star=1
***        space=0, star=3
*****      space=0, star=5
*******    space=0, star=7
*********  space=0, star=9
```

In [ ]:
n = int(input("Enter the Number: "))

for i in range(1, n+1):
    print(" ", end="")          # space
    print("*"*(2*i-1), end="")  # star ~ odd number
    print("")

Enter the Number: 5
 *
 ***
 *****
 *******
 *********

**9. Write a program to print the following star pattern.**

- for `n = 4`

```
   *        space=3, star=1
  ***       space=2, star=3
 *****      space=1, star=5
*******     space=0, star=7
 *****      space=1, star=5
  ***       space=2, star=3
   *        space=3, star=1

```

In [ ]:
n = int(input("Enter the Number: "))

# Upper part of the pattern
for i in range(1, n+1):
    print(" "*(n-i), end="")
    print("*"*(2*i-1), end="")
    print("")

# Lower part of the pattern
for j in range(n-1, 0, -1):
    print(" "*(n-j), end="")
    print("*"*(2*j-1), end="")
    print("")

Enter the Number: 4
   *
  ***
 *****
*******
 *****
  ***
   *

**10. Write a program to print the following star pattern.**

```
***
* *
***
```

for `n = 3`.

```
****
*  *
*  *
****
```

for `n = 4`.

In [ ]:
n = int(input("Enter the Number: "))

# Upper part of the pattern
for i in range(1, n+1):
    if(i==1 or i==n):
        print("*"*n, end="")
    else:
        print("*", end="")
        print(" "*(n-2), end="")
        print("*", end="")
    print("")

Enter the Number: 7
*******
*     *
*     *
*     *
*     *
*     *
*******

**11. Write a program to print multiplication table of n using for loops in reversed order.**

In [ ]:
n = int(input("Enter the Number: "))

for i in range(1, 11):
    print(f"{n} X {11-i} = {n*(11-i)}")

Enter the Number: 689
689 X 10 = 6890
689 X 9 = 6201
689 X 8 = 5512
689 X 7 = 4823
689 X 6 = 4134
689 X 5 = 3445
689 X 4 = 2756
689 X 3 = 2067
689 X 2 = 1378
689 X 1 = 689