<a href="https://colab.research.google.com/github/mohd-faizy/Python_Notebooks_Concept/blob/master/01_Python_Get_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.6.9

### __1. Hello World__

In [ ]:
print("Hello, World!")

Hello, World!

### __2. Creating a Comment__

In [ ]:
# This is a comment
print("Hello, World!")

print("Hello, World!") #This is a comment

# print("Hello, World!")
print("Cheers, Mate!")


# This is a comment
# written in
# more than just one line
print("Hello, World!")

Hello, World!
Hello, World!
Cheers, Mate!
Hello, World!

### __3. Python Variables__

#### __a. Python Varible__

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = 'John'

In [ ]:
# Variable names are case-sensitive

a = 4
A = "Sally" # A will not overwrite a

#### __b. Variable Names__

In [ ]:
# Legal variable names

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

```python
# Illegal variable names

2myvar = "John"
my-var = "John"
my var = "John"
```

In [ ]:
# Camel Case
myVariableName = "John"

# Pascal Case
MyVariableName = "John"

# Snake Case
my_variable_name = "John"

#### __c. Assign Multiple Values__

In [ ]:
# Assign Multiple Values

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

# One Value to Multiple Variables

a = b = c = "Orange"
print(a)
print(b)
print(c)

Orange
Banana
Cherry
Orange
Orange
Orange

In [ ]:
# Unpack a Collection-- Tuple Unpacking

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#### __d. Output Varibles__

In [ ]:
# Output Variables

a = "awesome"
print("Python is " + a)

x = "Python is "
y = "awesome"
z =  x + y
print(z)

p = 5
q = 10
print(p + q)

Python is awesome
Python is awesome
15

```python
# Combine a string and a number
# Python will give you an error

Example
x = 5
y = "John"
print(x + y)
```

#### __e. Global Variables__

In [ ]:
# Global Variables
# Create a variable outside of a function
# and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
# Create a variable inside a function
# with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
# The global Keyword

# If you use the global keyword
# the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
# To change the value of a global variable inside a function
# refer to the variable by using the global keyword

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

    myfunc()

print("Python is " + x)

Python is fantastic