<a href="https://colab.research.google.com/github/mohd-faizy/Python_Notebooks_Concept/blob/master/02_Python_DataTypes_Part__2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

--- 
<strong> 
    <h1 align='center'>Python Data Types Part -2</h1> 
</strong>

---

## __6. Lists__

- __Ordered__
- __Changeable(Mutable)__
- __Allow Duplicate values__

#### __a. Python list__

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# Allow Duplicates

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

In [ ]:
# List Length

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

```python
# String, int and boolean data types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

# A list can contain different data types

list4 = ["abc", 34, True, 40, "male"]
```

In [2]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [3]:
# The list() Constructor

thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

#### __b. Access list Item__

In [5]:
thislist = ["apple", "banana", "cherry"]

print(thislist[1])
print(thislist[-1])

banana
cherry

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [7]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

#### __c. Change list Items__

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [8]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#### __d. Add list Items__

__`.append()`__

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

__`.insert()`__

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

__`.extend()`__

In [15]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [14]:
# we can add any iterable object tuples, sets, dictionaries etc

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#### __e. Remove list__

__`.remove()`__

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

__`.pop()`__

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [18]:
# If you do not specify the index
# the pop() method removes the last item

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

__`del`__

In [16]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

__`clear`__

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

#### __f. Loop list__

In [19]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [20]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [21]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [22]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

#### __g. List Comprehension__

In [25]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [26]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

```python
# The Syntax

newlist = [expression for item in iterable if condition == True]

```

In [30]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist_1 = [x for x in fruits if x != "apple"]
newlist_2 = [x for x in fruits]
newlist_3 = [x if x != "banana" else "orange" for x in fruits]

newlist_4 = [x.upper() for x in fruits]
newlist_5 = ['hello' for x in fruits]

# Range
newlist_6 = [x for x in range(10) if x < 5]
newlist_7 = [x for x in range(10)]

print(newlist_1)
print(newlist_2)
print(newlist_3)
print(newlist_4)
print(newlist_5)
print(newlist_6)
print(newlist_7)

['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'orange', 'cherry', 'kiwi', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### __h. Sort list__

__`.sort()`__

In [31]:
# sort the list alphanumerically, ascending, by default

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [32]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [33]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [34]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [35]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [36]:
# Case Insensitive sort
# All capital letters being sorted after lower case letters

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [38]:
# Perform a case-insensitive sort of the list

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [39]:
# Reverse the order of the list items

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

#### __i. Copy list__

__`.copy()`__

In [40]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

__`list()`__

In [42]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### __j. Join list__

In [43]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [44]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [45]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#### __k. List Methods__

<table class="w3-table-all notranslate" style="height: 419px" width="641">
  <tbody>
    <tr>
      <th style="width: 71px">Method</th>
      <th style="width: 554px">Description</th>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_append.asp"
            >append()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong>Adds an element at the end of the list</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_clear.asp"
            >clear()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong>Removes all the elements from the list</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_copy.asp"
            >copy()</a
          >
        </h4>
      </td>
      <td style="width: 554px"><strong>Returns a copy of the list</strong></td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_count.asp"
            >count()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong>Returns the number of elements with the specified value</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_extend.asp"
            >extend()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong
          >Add the elements of a list (or any iterable), to the end of the
          current list</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_index.asp"
            >index()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong
          >Returns the index of the first element with the specified
          value</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_insert.asp"
            >insert()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong>Adds an element at the specified position</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_pop.asp">pop()</a>
        </h4>
      </td>
      <td style="width: 554px">
        <strong>Removes the element at the specified position</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_remove.asp"
            >remove()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong>Removes the item with the specified value</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_reverse.asp"
            >reverse()</a
          >
        </h4>
      </td>
      <td style="width: 554px">
        <strong>Reverses the order of the list</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 71px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_list_sort.asp"
            >sort()</a
          >
        </h4>
      </td>
      <td style="width: 554px"><strong>Sorts the list</strong></td>
    </tr>
  </tbody>
</table>

## __7. Tuples__

- __Ordered__
- __Unchangeable(Immutable)__
- __Allow Duplicate values__

#### __a. Python Tuple__

In [47]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
# Tuples allow duplicate values
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

#### __b. Access Tuple__

In [48]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[1])   # Remember that the first item has index 0.
print(thistuple[-1])
print(thistuple[2:5]) # start at index 2(included) & end at index 5 (not-included)
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])

banana
mango
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [49]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

#### __c. Update Tuple__

In [50]:
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

$\color{red}{\textbf{NOTE:}}$  __Once a tuple is created, we cannot add items to it__
```python
thistuple = ("apple", "banana", "cherry")
thistuple.append("orange") # This will raise an error
print(thistuple)
---
AttributeError                            Traceback (most recent call last)
<ipython-input-51-e438d96bc894> in <module>()
      1 thistuple = ("apple", "banana", "cherry")
----> 2 thistuple.append("orange") # This will raise an error
      3 print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'
```

In [54]:
# To add iten we can convert it into a list
# then add item(s), and convert it back into a tuple

thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [55]:
# Removing the item form Tuple

thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

```python
# Deleting the tuple completely

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

```

#### __d. Unpack Tuple__

In [56]:
# Packing a tuple
fruits = ("apple", "banana", "cherry")

# Unpacking a tuple
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [57]:
# if the number of variables is less than the number of values, we can add an *
# to the variable name and the values will be assigned to the variable as a list

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

#### __e. Loop Tuple__

In [58]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

__Use the `range()` and `len()` functions to create a suitable iterable__

In [59]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [60]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

#### __f. Join Tuple__

In [61]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

#### __g. Tuple Method__

__`.count()`__

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

__`.index()`__

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

## __8. Sets__

- __Unordered__
- __Unchangeable(Immutable)__
- __No Duplicate values allows__

#### __a. Python Sets__

In [64]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [66]:
# Duplicate values will be ignored

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)
print(len(thisset))

{'apple', 'cherry', 'banana'}
3

In [67]:
# A set with strings, integers and boolean values
set1 = {"abc", 34, True, 40, "male"}
print(type(set1))

<class 'set'>

__`set() Constructor`__

In [68]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

#### __b. Access Set Items__

In [73]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [70]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

$\color{red}{\textbf{NOTE:}}$ __Once a set is created, you cannot change its items, but you can add new items.__

#### __c. Add Set Items__

In [74]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [75]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'mango', 'papaya', 'apple', 'cherry', 'banana'}

In [76]:
# Add elements of a list to at set

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'kiwi', 'cherry', 'banana'}

#### __d. Remove set Items__

__`.remove()`__

In [77]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

$\color{red}{\textbf{NOTE:}}$ If the item to remove does not exist, remove() will raise an error.

__`.discard()`__

In [78]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

__`.pop() `__

In [79]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

__`.clear()`__

In [80]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

__`del()`__

In [ ]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

#### __e. Loop Sets__

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

#### __f. Join Sets__

__`union()`__

In [81]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 'c', 2, 3, 'b'}

__`update()`__

In [82]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 'c', 2, 3, 'b'}

__Both `union()` and `update()` will exclude any duplicate items__

In [84]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
z = x.intersection(y)

print(x)
print(z)

{'apple'}
{'apple'}

In [85]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'google', 'cherry', 'banana'}

#### __g. Sets Methods__

<table class="w3-table-all notranslate" style="height: 609px" width="632">
  <tbody>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_add.asp">add()</a>
        </h4>
      </td>
      <td style="width: 393px"><strong>Adds an element to the set</strong></td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_clear.asp"
            >clear()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Removes all the elements from the set</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_copy.asp">copy()</a>
        </h4>
      </td>
      <td style="width: 393px"><strong>Returns a copy of the set</strong></td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_difference.asp"
            >difference()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong
          >Returns a set containing the difference between two or more
          sets</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a
            href="https://www.w3schools.com/python/ref_set_difference_update.asp"
            >difference_update()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong
          >Removes the items in this set that are also included in another,
          specified set</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_discard.asp"
            >discard()</a
          >
        </h4>
      </td>
      <td style="width: 393px"><strong>Remove the specified item</strong></td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_intersection.asp"
            >intersection()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong
          >Returns a set, that is the intersection of two other sets</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a
            href="https://www.w3schools.com/python/ref_set_intersection_update.asp"
            >intersection_update()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong
          >Removes the items in this set that are not present in other,
          specified set(s)</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_isdisjoint.asp"
            >isdisjoint()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Returns whether two sets have a intersection or not</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_issubset.asp"
            >issubset()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Returns whether another set contains this set or not</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_issuperset.asp"
            >issuperset()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Returns whether this set contains another set or not</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_pop.asp">pop()</a>
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Removes an element from the set</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_remove.asp"
            >remove()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Removes the specified element</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a
            href="https://www.w3schools.com/python/ref_set_symmetric_difference.asp"
            >symmetric_difference()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong
          >Returns a set with the symmetric differences of two sets</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a
            href="https://www.w3schools.com/python/ref_set_symmetric_difference_update.asp"
            >symmetric_difference_update()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong
          >inserts the symmetric differences from this set and another</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_union.asp"
            >union()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Return a set containing the union of sets</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 223px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_set_update.asp"
            >update()</a
          >
        </h4>
      </td>
      <td style="width: 393px">
        <strong>Update the set with the union of this set and others</strong>
      </td>
    </tr>
  </tbody>
</table>

## __9. Dictionaries__

- __Unordered__
- __Changeable(Mutable)__
- __No Duplicate values allows__

#### __a. Python Dictionaries__

In [87]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
3

In [89]:
# Duplicate values will overwrite existing values

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [88]:
# String, int, boolean, and list data types

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(type(thisdict))

<class 'dict'>

#### __b. Access Items__

In [97]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x_1 = thisdict["model"]
x_2 = thisdict.get("model")
x_3 = thisdict.keys()
x_4 = thisdict.values()

print(x_1)
print(x_2)
print(x_3)
print(x_4)

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [98]:
# Add a new item to the original dictionary
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [100]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [101]:
# The items() method will return each item in a dictionary, as tuples in a list

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [102]:
# Check if Key Exists
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

#### __c. Change Items__

In [105]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [106]:
# Update Dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

#### __d. Adding Items__

In [107]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [110]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

#### __e. Remove Items__

In [112]:
# pop()

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [113]:
# popitem()
# removes the last inserted item
# In versions before 3.7, a random item is removed instead

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [115]:
# del

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [114]:
# clear()
# The clear() method empties the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

#### __f. Loop Dictionaries__

In [120]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Print all `key` names in the dictionary, one by one
for k in thisdict:
  print(k)

# Print all `values` in the dictionary, one by one
for x in thisdict:
    print(thisdict[x])

brand
model
year
Ford
Mustang
1964

In [119]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for v in thisdict.values():
  print(v)

for k in thisdict.keys():
  print(k)

for x, y in thisdict.items():
  print(x, y)

Ford
Mustang
1964
brand
model
year
brand Ford
model Mustang
year 1964

#### __g. Copy dict__

In [121]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [122]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### __h. Nested Dictionaries__

```python
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
```

<table class="w3-table-all notranslate" style="height: 596px" width="640">
  <tbody>
    <tr>
      <th style="width: 95px">Method</th>
      <th style="width: 529px">Description</th>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_clear.asp"
            >clear()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Removes all the elements from the dictionary</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_copy.asp"
            >copy()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Returns a copy of the dictionary</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_fromkeys.asp"
            >fromkeys()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Returns a dictionary with the specified keys and value</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_get.asp"
            >get()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Returns the value of the specified key</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_items.asp"
            >items()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong
          >Returns a list containing a tuple for each key value pair</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_keys.asp"
            >keys()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Returns a list containing the dictionary's keys</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_pop.asp"
            >pop()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Removes the element with the specified key</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_popitem.asp"
            >popitem()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Removes the last inserted key-value pair</strong>
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a
            href="https://www.w3schools.com/python/ref_dictionary_setdefault.asp"
            >setdefault()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong
          >Returns the value of the specified key. If the key does not exist:
          insert the key, with the specified value</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_update.asp"
            >update()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong
          >Updates the dictionary with the specified key-value pairs</strong
        >
      </td>
    </tr>
    <tr>
      <td style="width: 95px">
        <h4>
          <a href="https://www.w3schools.com/python/ref_dictionary_values.asp"
            >values()</a
          >
        </h4>
      </td>
      <td style="width: 529px">
        <strong>Returns a list of all the values in the dictionary</strong>
      </td>
    </tr>
  </tbody>
</table>