<a href="https://colab.research.google.com/github/mohd-faizy/Python_Notebooks_Concept/blob/master/04_Python_Control_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

--- 
<strong> 
    <h1 align='center'>Python Control Flow, Functions & Arrays</h1> 
</strong>

---

## __If-Else__

- Equals: __a == b__
- Not Equals: __a != b__
- Less than: __a < b__
- Less than or equal to: __a <= b__
- Greater than: __a > b__
- Greater than or equal to: __a >= b__

In [1]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [5]:
if a > b: print("a is greater than b")

a is greater than b

In [6]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [7]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [8]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [9]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [10]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [11]:
a = 33
b = 200

if b > a:
  pass

## __While Loops__

In [12]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

$\color{red}{\textbf{Note:}}$ Remember to increment __i__, or else the loop will continue forever.

In [13]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [14]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [15]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## __For Loops__

In [16]:
fruits = ["apple", "banana", "cherry"] # list
for x in fruits:
  print(x)

apple
banana
cherry

In [17]:
for x in "banana": # string
  print(x)

b
a
n
a
n
a

In [18]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [20]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [21]:
for x in range(6): # range(6) is the values 0 to 5.
  print(x)

0
1
2
3
4
5

In [22]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [23]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [24]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [25]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [26]:
for x in [0, 1, 2]:
  pass

## __Functions__

In [27]:
# Creating a Function

def my_function():
  print("Hello from a function")

In [28]:
# Calling a Function

def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [29]:
# Arguments

def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

```python

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-31-49655f8043be> in <module>()
      2   print(fname + " " + lname)
      3 
----> 4 my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'


```

__`*args`__

In [30]:
# If we do not know how many arguments that will
# be passed into our function, add a `*` before the
# parameter name in the function definition.

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [31]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [32]:
# Keyword Arguments
# we can also send arguments with the key = value syntax.

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [33]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function() # If we call without arg, then it uses the default value
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## __Lambda__

```python
# Syntax
lambda arguments : expression 
```

In [34]:
# can take any number of arguments
# but can only have one expression

x = lambda a : a + 10
print(x(5))

15

In [35]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [36]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

__The power of lambda is better shown when you use them as an anonymous function inside another function.__

In [37]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [38]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [39]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## __Arrays__

$\color{red}{\textbf{Note:}}$  Python does not have built-in support for **Arrays**, but Python Lists can be used instead.

however, to work with arrays in Python you will have to `import` a library, like the $NumPy$ library

In [40]:
cars = ["Ford", "Volvo", "BMW"]

x = cars[0]
print(x)

cars[0] = "Toyota"
print(cars)

y = len(cars)
print(y)

for x in cars:
  print(x)

z = cars.append("Honda")
print(cars)

p = cars.pop(1)
print(cars) # remove the Volvo at index 1

r = cars.remove("BMW")
print(cars)

Ford
['Toyota', 'Volvo', 'BMW']
3
Toyota
Volvo
BMW
['Toyota', 'Volvo', 'BMW', 'Honda']
['Toyota', 'BMW', 'Honda']
['Toyota', 'Honda']

__Array Methods__


---



<table class="w3-table-all notranslate" style="height: 611px;" width="510">
<tbody>
<tr style="height: 17px;">
<th style="width: 75.2px; height: 17px;">
<h3>Method</h3>
</th>
<th style="width: 420px; height: 17px;">
<h3>Description</h3>
</th>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_append.asp">append()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Adds an element at the end of the list</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_clear.asp">clear()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Removes all the elements from the list</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_copy.asp">copy()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Returns a copy of the list</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_count.asp">count()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Returns the number of elements with the specified value</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_extend.asp">extend()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Add the elements of a list (or any iterable), to the end of the current list</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_index.asp">index()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Returns the index of the first element with the specified value</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_insert.asp">insert()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Adds an element at the specified position</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_pop.asp">pop()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Removes the element at the specified position</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_remove.asp">remove()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Removes the first item with the specified value</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_reverse.asp">reverse()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Reverses the order of the list</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 75.2px; height: 54px;">
<h4><a href="https://www.w3schools.com/python/ref_list_sort.asp">sort()</a></h4>
</td>
<td style="width: 420px; height: 54px;"><strong>Sorts the list</strong></td>
</tr>
</tbody>
</table>