<a href="https://colab.research.google.com/github/mohd-faizy/Python-Concept-Jupyer-Notebooks/blob/master/05_Python_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

--- 
<strong> 
    <h1 align='center' style="color:red;">Python Classes and Objects</h1> 
</strong>

---

## __Classes and Objects__

In [1]:
class Person:
    # __init__ is called automatically every time the
    # class is being used to create a new object
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36) # Object of Class

print(p1.name)
print(p1.age)

John
36

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
         print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

## __Python Inheritance__

In [3]:
class Person:                        # Parent Class
    def __init__(self, fname, lname):# Arguments
        self.firstname = fname       # properties
        self.lastname = lname        # properties

    def printname(self):             # Method
        print(self.firstname, self.lastname)

'''
Use the Person class to create an object,
and then execute the printname method
''' 
x = Person("John", "Doe")             # Object
x.printname()

'''----------------------------------------------------'''

class Student(Person):                # Child Class
  pass 
'''
Use the pass keyword when you do not want to add any
other properties or methods to the class.
'''
x = Student("Mike", "Olsen")           # Object
x.printname()

John Doe
Mike Olsen

In [4]:
# Create a Parent Class

class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [5]:
# Create a Child Class

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

```python
class Person:                        # Parent Class

    def __init__(self, fname, lname):
        self.firstname = fname       # properties
        self.lastname = lname        # properties

    def printname(self):             # Method
        print(self.firstname, self.lastname)

x = Person("John", "Doe")             # Object
x.printname()


class Student(Person):                # Child Class
    def __init__(self, fname, lname):
        #add properties etc.

x = Student("Mike", "Olsen")
x.printname()
```

In [6]:
class Person:                        # Parent Class
    def __init__(self, fname, lname):
        self.firstname = fname       # properties
        self.lastname = lname        # properties

    def printname(self):             # Method
        print(self.firstname, self.lastname)
'''
Note: The child's __init__() function overrides the
inheritance of the parent's __init__() function
'''
class Student(Person):                # Child Class
    def __init__(self, fname, lname):
        Person.__init__(self, fname, lname)

'''
To keep the inheritance of the parent's __init__() 
function, add a call to the parent's __init__() function
'''
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

__`super()`__ function that will make the **child class** inherit **all the methods and properties** from its **parent**:

In [7]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [8]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019      # Adding Properties

x = Student("Mike", "Olsen")

print(x.firstname)
print(x.lastname)
print(x.graduationyear)

Mike
Olsen
2019

In [9]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year): # adding a new argument 
    super().__init__(fname, lname)        # inheritance from the Parent Class
    self.graduationyear = year            # Adding a new Property to child

x = Student("Mike", "Olsen", 2019)

print(x.printname())
print(x.graduationyear)

Mike Olsen
None
2019

In [10]:
# Adding Methods

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

$\color{red}{\textbf{Note:}}$ If we add a method in the child class with the __same name__ as a function in the parent class, the inheritance of the parent method will be **overridden**

## __Python Iterators__

In [11]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [12]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [13]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

'''-----------------------'''

mystr = "banana"

for x in mystr:
  print(x)

apple
banana
cherry
b
a
n
a
n
a

In [14]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

__StopIteration__

- The example above would continue forever if you had enough `next()` statements, or if it was used in a for loop.


```python
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))  
---------------------------------------------------------------------------
StopIteration                             Traceback (most recent call last)
<ipython-input-39-d15994af4a28> in <module>()
      5 print(next(myit))
      6 print(next(myit))
----> 7 print(next(myit))
```
- To prevent the iteration to go on forever, we can use the `StopIteration` statement.

- In the `__next__()` method, we can add a terminating condition to raise an error if the iteration is done a specified number of times.

In [15]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## __Python Scope__

In [16]:
# A variable created inside a function is available inside that function

def myfunc():
    x = 300
    print(x)

myfunc()

300

In [17]:
# Function Inside Function

def myfunc():
    x = 300
    def myinnerfunc():
        print(x)
    myinnerfunc()

myfunc()

300

In [18]:
# Global Scope

x = 300

def myfunc():
     print(x)

myfunc()

print(x)

300
300

In [19]:
x = 300

def myfunc():
    x = 200
    print(x)

myfunc()

print(x)

200
300

In [20]:
# Global Keyword

def myfunc():
    global x
    x = 300

myfunc()

print(x)

300

In [21]:
x = 300

def myfunc():
    global x
    x = 200
    
myfunc()

print(x)

200

## __Python Modules__

- module Can be considere same as a code library.
- To create a module just save the code you want in a file with the file extension `.py`

```python
# Save it as mymodule.py
def greeting(name):
  print("Hello, " + name)
```
```python
import mymodule
mymodule.greeting("Jonathan")

# Output
Hello, Jonathan
```

```python
# Save it as mymodule.py

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

import mymodule as mx

a = mx.person1["age"]
print(a)
```

In [22]:
# There is a built-in function to list all the function names
# (or variable names) in a module. The dir() function

import tensorflow as tf

x = dir(tf)
print(x)

['AggregationMethod', 'Assert', 'CriticalSection', 'DType', 'DeviceSpec', 'GradientTape', 'Graph', 'IndexedSlices', 'IndexedSlicesSpec', 'Module', 'Operation', 'OptionalSpec', 'RaggedTensor', 'RaggedTensorSpec', 'RegisterGradient', 'SparseTensor', 'SparseTensorSpec', 'Tensor', 'TensorArray', 'TensorArraySpec', 'TensorShape', 'TensorSpec', 'TypeSpec', 'UnconnectedGradients', 'Variable', 'VariableAggregation', 'VariableSynchronization', '_API_MODULE', '_LazyLoader', '__all__', '__builtins__', '__cached__', '__compiler_version__', '__cxx11_abi_flag__', '__doc__', '__file__', '__git_version__', '__loader__', '__monolithic_build__', '__name__', '__operators__', '__package__', '__path__', '__spec__', '__version__', '_absolute_import', '_api', '_compat', '_current_file_location', '_current_module', '_distutils', '_division', '_estimator_module', '_fi', '_inspect', '_ll', '_logging', '_main_dir', '_major_api_version', '_module_dir', '_module_util', '_names_with_underscore', '_os', '_plugin_dir', '_print_function', '_running_from_pip_package', '_s', '_site', '_site_packages_dirs', '_six', '_sys', '_tf2', '_tf_api_dir', '_typing', 'abs', 'acos', 'acosh', 'add', 'add_n', 'argmax', 'argmin', 'argsort', 'as_dtype', 'as_string', 'asin', 'asinh', 'assert_equal', 'assert_greater', 'assert_less', 'assert_rank', 'atan', 'atan2', 'atanh', 'audio', 'autodiff', 'autograph', 'batch_to_space', 'bfloat16', 'bitcast', 'bitwise', 'bool', 'boolean_mask', 'broadcast_dynamic_shape', 'broadcast_static_shape', 'broadcast_to', 'case', 'cast', 'clip_by_global_norm', 'clip_by_norm', 'clip_by_value', 'compat', 'compiler', 'complex', 'complex128', 'complex64', 'concat', 'cond', 'config', 'constant', 'constant_initializer', 'control_dependencies', 'convert_to_tensor', 'core', 'cos', 'cosh', 'cumsum', 'custom_gradient', 'data', 'debugging', 'device', 'distribute', 'divide', 'double', 'dtypes', 'dynamic_partition', 'dynamic_stitch', 'edit_distance', 'eig', 'eigvals', 'einsum', 'ensure_shape', 'equal', 'errors', 'estimator', 'executing_eagerly', 'exp', 'expand_dims', 'experimental', 'extract_volume_patches', 'eye', 'feature_column', 'fill', 'fingerprint', 'float16', 'float32', 'float64', 'floor', 'foldl', 'foldr', 'function', 'gather', 'gather_nd', 'get_logger', 'get_static_value', 'grad_pass_through', 'gradients', 'graph_util', 'greater', 'greater_equal', 'group', 'guarantee_const', 'half', 'hessians', 'histogram_fixed_width', 'histogram_fixed_width_bins', 'identity', 'identity_n', 'image', 'import_graph_def', 'init_scope', 'initializers', 'int16', 'int32', 'int64', 'int8', 'io', 'is_tensor', 'keras', 'less', 'less_equal', 'linalg', 'linspace', 'lite', 'load_library', 'load_op_library', 'logical_and', 'logical_not', 'logical_or', 'lookup', 'losses', 'make_ndarray', 'make_tensor_proto', 'map_fn', 'math', 'matmul', 'matrix_square_root', 'maximum', 'meshgrid', 'metrics', 'minimum', 'mixed_precision', 'mlir', 'multiply', 'name_scope', 'negative', 'nest', 'newaxis', 'nn', 'no_gradient', 'no_op', 'nondifferentiable_batch_function', 'norm', 'not_equal', 'numpy_function', 'one_hot', 'ones', 'ones_initializer', 'ones_like', 'optimizers', 'pad', 'parallel_stack', 'pow', 'print', 'profiler', 'py_function', 'python', 'qint16', 'qint32', 'qint8', 'quantization', 'queue', 'quint16', 'quint8', 'ragged', 'random', 'random_normal_initializer', 'random_uniform_initializer', 'range', 'rank', 'raw_ops', 'realdiv', 'recompute_grad', 'reduce_all', 'reduce_any', 'reduce_logsumexp', 'reduce_max', 'reduce_mean', 'reduce_min', 'reduce_prod', 'reduce_sum', 'register_tensor_conversion_function', 'repeat', 'required_space_to_batch_paddings', 'reshape', 'resource', 'reverse', 'reverse_sequence', 'roll', 'round', 'saturate_cast', 'saved_model', 'scalar_mul', 'scan', 'scatter_nd', 'searchsorted', 'sequence_mask', 'sets', 'shape', 'shape_n', 'sigmoid', 'sign', 'signal', 'sin', 'sinh', 'size', 'slice', 'sort', 'space_to_batch', 'space_to_batch_nd', 'sparse', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'stop_gradient', 'strided_slice', 'string', 'strings', 'subtract', 'summary', 'switch_case', 'sysconfig', 'tan', 'tanh', 'tensor_scatter_nd_add', 'tensor_scatter_nd_max', 'tensor_scatter_nd_min', 'tensor_scatter_nd_sub', 'tensor_scatter_nd_update', 'tensordot', 'test', 'tile', 'timestamp', 'tools', 'tpu', 'train', 'transpose', 'truediv', 'truncatediv', 'truncatemod', 'tuple', 'type_spec_from_value', 'uint16', 'uint32', 'uint64', 'uint8', 'unique', 'unique_with_counts', 'unravel_index', 'unstack', 'variable_creator_scope', 'variant', 'vectorized_map', 'version', 'where', 'while_loop', 'xla', 'zeros', 'zeros_initializer', 'zeros_like']

```python 
# we can also choose to import only parts
# from a module, by using the from keyword

# Save it as mymodule.py
def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

person2 = {
  "name": "Mike",
  "age": 64,
  "country": "Russia"
}
'''--------calling the only the person1--------'''

from mymodule import person1

print (person1["age"])
```

$\color{red}{\textbf{NOTE:}}$ When importing using the `from` **keyword, do not use the module name when referring to elements in the module. Example:** `person1["age"]`, **not** `mymodule.person1["age"]`

## __Python Datetime__

In [23]:
import datetime

x = datetime.datetime.now()
print(x)

2020-12-12 13:45:37.838833

In [24]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%a"))
print(x.strftime("%A"))
print(x.strftime("%w"))
print(x.strftime("%d"))
print(x.strftime("%b"))
print(x.strftime("%B"))
print(x.strftime("%m"))
print(x.strftime("%y"))
print(x.strftime("%Y"))
print(x.strftime("%H"))
print(x.strftime("%I"))
print(x.strftime("%p"))
print(x.strftime("%M"))

2020
Sat
Saturday
6
12
Dec
December
12
20
2020
13
01
PM
45

In [25]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

## __Python Math__

__`min()` and `max()`__

In [26]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

`abs()` function returns the **absolute(positive)** value of the specified number

In [27]:
x = abs(-7.25)

print(x)

7.25

`pow(x, y)` function

In [28]:
x = pow(4, 3)

print(x)

64

In [29]:
import math

x = math.sqrt(64)

print(x)

8.0

In [30]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [31]:
import math

x = math.pi

print(x)

3.141592653589793

## __Python JSON__

In [32]:
# Convert from JSON to Python
# If you have a JSON string, we canparse it by using the json.loads() method

import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [33]:
# Convert from Python to JSON

import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

__We can convert Python objects of the following types, into JSON strings:__

- __dict__
- __list__
- __tuple__
- __string__
- __int__
- __float__
- __True__
- __False__
- __None__

In [34]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

|Python|JSON|
|------|-----|
|dict|Object|
|list|Array|
|tuple|Array|
|str|String|
|int|Number|
|float|Number|
|True|true|
|False|false|
|None|null|

In [35]:
# Convert a Python object containing all the legal data types

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [36]:
# Format the Result

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use four indents to make it easier to read the result:
print(json.dumps(x, indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

In [37]:
# Use the separators parameter to change the default separator

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use . and a space to separate objects, and a space, a = and a space to separate keys from their values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

In [38]:
# Use the sort_keys parameter to specify if the result should be sorted or not

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

## __Python RegEx__

- A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

- RegEx can be used to check if a string contains the specified search pattern.

__RegEx Functions__

- `search` - Returns a Match object if there is a match anywhere in the string.

- `findall` - Returns a list containing all matches.

- `split` - Returns a list where the string has been split at each match.

- `sub` - Replaces one or many matches with a string.

In [39]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

__Metacharacters__

<p align='center'>
  <a href="#">
    <img src='https://www.engineeringbigdata.com/wp-content/uploads/python-regular-expression-regex-metacharacters-meanings.jpg'>
  </a>
</p>

__Special Sequences__

<p align='center'>
  <a href="#">
    <img src='https://www.engineeringbigdata.com/wp-content/uploads/python-regular-expression-regex-special-sequences.jpg'>
  </a>
</p>

In [40]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"

x = re.findall("ai", txt)
print(x)

x = re.findall("Portugal", txt) # Return an empty list if no match was found
print(x)

['ai', 'ai']
[]

In [41]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [42]:
# Split

import re

txt = "The rain in Spain"

x = re.split("\s", txt)    # Split at each white-space character
print(x)

x = re.split("\s", txt, 1) # Split the string only at the first occurrence
print(x)

['The', 'rain', 'in', 'Spain']
['The', 'rain in Spain']

In [43]:
import re

txt = "The rain in Spain"

x = re.sub("\s", "9", txt)    # Replace every white-space character with - 9
print(x)


x = re.sub("\s", "9", txt, 2) # Replace the first 2 occurrences
print(x)

The9rain9in9Spain
The9rain9in Spain

In [44]:
import re

#The search() function returns a Match object:

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<_sre.SRE_Match object; span=(5, 7), match='ai'>

The Match object has properties and methods used to retrieve information about the search, and the result:

- `.span()` returns a tuple containing the start-, and end positions of the match.
- `.string` returns the string passed into the function.
- `.group()` returns the part of the string where there was a match

In [45]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [46]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

## __PIP__

- PIP is a package manager for Python packages.


- $\color{red}{\textbf{Note:}}$ If you have Python version 3.4 or later, PIP is included by default.

```
# Remove a Package

C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip uninstall camelcase

# List Packages

C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip list
```

## __Python Try Except__

- The `try` block lets you test a block of code for errors.

- The `except` block lets you handle the error.

- The `finally` block lets you execute code, regardless of the result of the try- and except blocks.

```python
# This statement will raise an error, because x is not defined:

print(x)

-------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-15-c01ac3f50fdc> in <module>()
----> 1 print(z)

NameError: name 'z' is not defined

```

In [47]:
try:
  print(z)
except:
  print("An exception occurred")

An exception occurred

In [48]:
# Print one message if the try block raises
# a NameError and another for other errors

try:
  print(z)
except NameError:
  print("Variable z is not defined")
except:
  print("Something else went wrong")

Variable z is not defined

In [49]:
#The try block does not raise any errors, so the else block is executed:

try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [50]:
try:
  print(z)
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Something went wrong

In [51]:
#The finally block gets executed no matter if the try block raises any errors or not:

try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

<_sre.SRE_Match object; span=(12, 17), match='Spain'>
The 'try except' is finished

```python
#The try block will raise an error when trying to write to a read-only file:

try:
  f = open("demofile.txt")
  f.write("Lorum Ipsum")
except:
  print("Something went wrong when writing to the file")
finally:
  f.close()

#The program can continue, without leaving the file object open
```

```python 
'''As a Python developer you can choose to
throw an exception if a condition occurs.

To throw (or raise) an exception, use the
raise keyword.
'''

x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
<ipython-input-25-2edc57024fbc> in <module>()
      2 
      3 if x < 0:
----> 4   raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero
```

```python
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

-------------------------------------
File "<ipython-input-26-762250dd0e82>", line 4
    raise TypeError("Only integers are allowed"
                                               ^
SyntaxError: unexpected EOF while parsing
```

## __User Input__

In [52]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:faizy
Username is: faizy

## __Python String Formatting__

In [53]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [54]:
price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [55]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [56]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [57]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [58]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.